:root {
    --blur: 1px;
    --spacing: 10px;
    --color: #000;
    --border-radius: 10px;
}
body {
    text-align: center;
    background: linear-gradient(
      90deg,
      rgb(154, 130, 238) 0%,
      rgb(88, 149, 218) 100%
    );
    color: white;
    font-family: "poppins", sans-serif;
    font-size: 35px;
}
.controls {
    margin-bottom: 50px;
}
.image {
    width: 60%;
    height: 60vh;
    background-color: var(--color);
    padding: var(--spacing);
    filter: blur(var(--blur));
    border-radius: var(--border-radius);
}
input {
    width: 100px;
    cursor: pointer;
}
.highlight {
    color: var(--color);
}
button {
    width: 150px;
    height: 35px;
    border: transparent;
    border-radius: 4px;
    font-size: 14px;
    font-family: "poppins", sans-serif;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    transform: translateY(-5px);
    font-weight: 700;
}
button:hover {
    background-color: transparent;
    border: 2px solid white;
    color: white;
}